@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}
<div class="login-outer">
    <div class="login-box">
        <div class="logo">
            <img src="/admin_assets/images/logo-login.png" alt="">
        </div>
        @*<h1><span>Forgot</span> Password</h1>
            <h3><span>Forgot</span> Password</h3>*@
        <h3>Enter your email and we send you a password reset link.</h3>
        <form id="form" action="/admin/forgot-password" method="post">
            <!-- Email input -->
            <div class="form-item">
                @* <label class="form-label" for="email">Enter the email address registered on your account</label>*@
                @*<label class="error" for="email"> Enter the email address registered on your account </label>*@
                <input type="email" id="email" name="email" placeholder="Email Address" autocomplete="off">
            </div>
            <p class="alertText" style="display:none;color:red;" id="emailExistMsg">This Email-ID is Not Registered </p>
            <div class="btn-login">
                <input type="submit" value="Send request" id="submitbutton" class="btn btn-primary btn-block mb-4">
                @{
                    if (TempData["Message"] != null)
                    {
                        <div class="error">@TempData["Message"]</div>
                        <div align="center" class="mt-3"><a style="font-weight:600;color:#d21018" href="/admin/login">Goto Login</a></div>
                    }
                }

            </div>
        </form>
    </div>
</div>
@*<script>
    $(document).ready(function () {
    $("#form").validate({
    rules: {
    email: {
    required: true,
    email: true
    }
    },
    messages: {
    email:{
    required: "*Email required",
    email: "Incorrect Email.!"
    }
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    });
    </script>*@
@*<h1><span>Forgot</span> Password</h1>
    <form id="form" action="/admin/forgot-password" method="post">
    <!-- Email input -->
    <div class="form-outline mb-3">
    <label class="form-label" for="email">Enter the email address registered on your account</label>
    <input type="email" id="email" name="email" placeholder="Email Address" class="form-control" />

    </div>
    <p class="alertText" style="display:none;color:red;" id="emailExistMsg">This Email-ID is Not Registered </p>

    <!-- Submit button -->
    <button type="submit"  id="submitbutton" class="btn btn-primary btn-block mb-4" >Submit</button>

    </form>*@
<style>
    #form .form-outline {
        position: relative;
    }

        #form .form-outline label.error {
            color: #fff;
            font-size: .7em;
            position: absolute;
            right: 16px;
            bottom: -8px;
            padding: 5px 10px;
            line-height: 10px;
            text-align: right;
            background-color: #ce010a;
            border-radius: 5px;
            box-shadow: 0 0 5px #ddd;
            width: auto;
        }
</style>

<script>
      var result = "";

      $(document).ready(function () {
          $("#email").on("change blur keyup", function() {
              debugger;
              checkUsernameExistingOrNot();
          });
            $("#form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Enter Email",
                        email: "Incorrect Email"
                    }
                },
                submitHandler: function (form) {
                    if (result == "1") {
                          $("#emailExistMsg").hide();
                        form.submit();
                    }
                    else {
                        $("#email").focus();
                        $("#emailExistMsg").show();
                    }
                }
            });
        });

    function checkUsernameExistingOrNot() {
         $("#form button[type=submit]").attr("disabled", "disabled");
        var email = $("#email").val();
        if (email != '') {
            $.ajax({
                type: "GET",
                data: { email: email },
                url: "/Admin/isEmailExist",
                success: function(response) {
                   if (response == true) {
                        result = "1";
                     $("#emailExistMsg").hide();
                        $("#form button[type=submit]").removeAttr("disabled");
                    }
                    else {
                          $("#emailExistMsg").show();
                        setTimeout(function () { $("#emailExistMsg").fadeIn(); }, 1);
                     setTimeout(function () { $("#emailExistMsg").fadeOut(); }, 2000);

                    }
                }
            });
        }
        }
</script>