@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
    String q = Context.Request.Query["q"];
}
<div class="login-outer">
    <div class="login-box">
        <div class="logo">
            <img src="images/logo-login.png" alt="">
        </div>
        <h3>Enter your new password and confirm to continue.</h3>
        <form id="form" action="/admin/new-password?q=@q" method="post">
            <div class="form-item">
                <input type="text" id="npswd" name="Password" autocomplete="off" required>
                <label class="error" for="npswd">New Password</label>
            </div>
            <div class="form-item">
                <input type="password" id="pswrd" name="Confirm_Password" autocomplete="off" required>
                <label class="error" for="pswrd">Confirm Password</label>
            </div>

            <div class="btn-login">
                <input type="submit" value="Send request">
                <div class="error">@TempData["Message"]</div>
            </div>
        </form>
    </div>
</div>
<script>
       $(document).ready(function () {
        $("#form").validate({
            rules: {
                Password: {
                    required: true ,
                    maxlength : 8,
                     minlength : 1,

                },
                Confirm_Password: {
                    maxlength : 8,
                    minlength : 1,
                    equalTo: "#npswd"
                }
            },
            messages: {
                Password: { required: "*Password Required" },
                Confirm_Password: { equalTo: "*Password doesn't match" },
            }
        });
    });
</script>