@using System.Data;
@inject IConfiguration Configuration;
@{
    ViewData["Title"] = "News";
    ViewData["Page"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataSet ds = Model;
    DataTable? dtFullData = new DataTable();

    string discription = "", Ardiscription = "";

    DataTable dtData = ds.Tables[0];
    //DataTable dtNews = ds.Tables[1];
    using (EzdanLibrary.DAL db = new EzdanLibrary.DAL(Configuration))
    {
        dtFullData = db.SqlDataSetResult("USP_Web_CompanyParameter", new List<System.Data.SqlClient.SqlParameter>()).Tables[0];

        discription = dtFullData.Rows[0]["COMPAR_Description"].ToString();
        Ardiscription = dtFullData.Rows[1]["COMPAR_Description"].ToString();
    }
}
<section class="banner">
    <img src="/web_assets/images/cbanner.jpg" alt="">
    <div class="banner-overlay">
        <span>Ezdan mall - @discription</span>
        <h1>News</h1>
    </div>
</section>
<script src="/web_assets/js/paging.js"></script>
<div class="newspage">
    <div class="allnewslist">
        <h2 class="text-center mb-4 pb-4">Media Center</h2>

        <ul id="newslist">
            @{
                foreach (DataRow row in dtData.Rows)
                {

                    String NWS_Descriptin = row["NWS_Descriptin"].ToString();
                    DateTime strDate = Convert.ToDateTime(row["NWS_Date"].ToString());
                    String date = strDate.ToString("dd-MM-yyyy");
                    var parts = date.Split('-');
                    int day = Convert.ToInt16(parts[0]);
                    int year = Convert.ToInt16(parts[2]);
                    int month = Convert.ToInt16(parts[1]);
                    string[] months = {"January", "February", "March", "April", "May", "June",
            "July", "August", "Setember", "October", "November", "December" };
                    string newmonth = months[month - 1];
                    string newdate = day + " " + newmonth + " " + year;
                    String urlKey = row["NWS_URL_Key"] + "-" + row["NWS_DocNo"];
                    <li>
                        <div class="newsitem" data-hover="">
                            <a href="/News-info/@urlKey">
                                <div class="newsimage">
                                    <img src="@row["NWS_BannerImage"]">
                                </div>
                            </a>
                            <div class="newsdetails" data-hover="">
                                <h4>@Html.Raw(row["NWS_Branch_Name"])</h4>
                                <h5>@day @newmonth, @year</h5>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
        <nav aria-label="Page navigation" style="display:none;">
            <ul class="pagination pg-blue justify-content-center">
                <li class="page-item disabled">
                    <a href="#" class="page-link prev" tabindex="-1"><img class="card-img" src="/web_assets/images/arrow_left.svg" alt="prev"></a>
                </li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link active">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">8</a></li>
                <li class="page-item">....</li>
                <li class="page-item"><a href="#" class="page-link">281</a></li>
                <li class="page-item">
                    <a href="#" class="page-link next"><img class="card-img" src="/web_assets/images/arrow_right.svg" alt="prev"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<script>
    $(function() {
      $("#newslist").JPaging({
        pageSize: 12,
        visiblePageSize: 12
      });

      $("#paging a:first-child").html('<img class="card-img" src="/web_assets/images/arrow_left.svg" alt="prev">');
      $("#paging a:last-child").html('<img class="card-img" src="/web_assets/images/arrow_right.svg" alt="next">');

      $("#paging a").removeClass("aktif");
      //pre_point
      $("#paging a:nth-child(2):contains('1')").addClass("aktif");
      $("#paging a:nth-child(3):contains('1')").addClass("aktif");
      //$("#paging a:nth-child(2)").addClass("aktif");
    });
</script>
<style>
    .newsitem {
        overflow: hidden;
    }
    /*Pagination*/
    #paging {
        position: relative;
        padding-top: 45px;
        border-top: 1px solid #DEDEDE;
        width: 100%;
        display: block;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
    }

        #paging a {
            width: auto;
            margin: 0 5px;
            padding: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            color: #000;
            border: 0;
            background: none;
            padding: 0;
            text-align: center;
            position: relative;
            display: inline-block;
            -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        }

            #paging a:hover, #paging a.aktif {
                background: #E51B24;
                color: #ffffff;
            }

                #paging a.aktif:first-child, #paging a.aktif:last-child, #paging a.first-child:hover, #paging a.last-child:hover {
                    background: #fff !important;
                    color: #000 !important;
                }

            #paging a:first-child {
                position: absolute;
                left: 0;
            }

            #paging a:last-child {
                position: absolute;
                right: 0;
            }
</style>